In [1]:
import os
import time
import pandas as pd
import akshare as ak
import datetime
import warnings
from datetime import timedelta, datetime
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('expand_frame_repr', False)
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)

In [2]:
us_stock_current_df = ak.stock_us_spot()
print(us_stock_current_df)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [3]:
us_stock_current_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14217 entries, 0 to 14216
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         14217 non-null  object
 1   cname        14217 non-null  object
 2   category     4602 non-null   object
 3   symbol       14217 non-null  object
 4   price        14217 non-null  object
 5   diff         14217 non-null  object
 6   chg          14217 non-null  object
 7   preclose     14217 non-null  object
 8   open         14217 non-null  object
 9   high         14217 non-null  object
 10  low          14217 non-null  object
 11  amplitude    14217 non-null  object
 12  volume       14217 non-null  object
 13  mktcap       14217 non-null  object
 14  pe           6974 non-null   object
 15  market       14217 non-null  object
 16  category_id  4602 non-null   object
dtypes: object(17)
memory usage: 1.8+ MB

In [8]:
us_stock_current_df.to_csv('us_stock_current_df.csv',index=False,encoding='gbk')

In [21]:
us_stock_current_df[:5]

               name       cname  category symbol   price   diff    chg preclose    open    high     low amplitude    volume         mktcap           pe  market category_id  Stock_ID
0       Apple, Inc.    苹果公司    计算机   AAPL  189.97  -1.34  -0.70   191.31  190.87  190.90  189.25     0.86%  23918892  2954556316425  30.83928668  NASDAQ           5   1000000
1   Microsoft Corp.    微软公司      软件   MSFT  377.43  -0.42  -0.11   377.85  377.33  377.97  375.13     0.75%   9347023  2805158716399  36.39633528  NASDAQ          14   1000001
2    Alphabet, Inc.        谷歌    互联网   GOOG  138.22  -1.80  -1.29   140.02  139.54  139.68  137.47     1.58%   8808656  1729961535278  26.32761928  NASDAQ          41   1000002
3    Alphabet, Inc.   谷歌A类股  媒体内容  GOOGL  136.69  -1.80  -1.30   138.49  138.03  138.13  135.99     1.55%  12485500  1710812070557  26.03619094  NASDAQ         702   1000003
4  Amazon.com, Inc.  亚马逊公司    互联网   AMZN  146.74   0.03   0.02   146.71  146.70  147.20  145.32     1.28%  21549822  1516415704956  75.25128303  NASDAQ          41   1000004

In [26]:
us_stock_current_df = pd.read_csv('us_stock_current_df.csv',encoding='gbk')
us_stock_current_df['Stock_ID'] = range(len(us_stock_current_df))
us_stock_current_df['Stock_ID'] += 1000000

In [27]:
us_stock_current_df['Stock_Code'] = us_stock_current_df['symbol']
us_stock_current_df['Stock_Name'] = us_stock_current_df['name']
us_stock_current_df['Stock_Market'] = us_stock_current_df['market']
us_stock_current_df['Total_Value'] = us_stock_current_df['mktcap']
us_stock_current_df['Total_Value_Prev'] = 0
us_stock_current_df['Stock_Industry'] = us_stock_current_df['category']
us_stock_current_df['Stock_Industry_Prev'] = ""
us_stock_current_df = us_stock_current_df[['Stock_ID','Stock_Name', 'Stock_Industry','Stock_Industry_Prev','Stock_Market',
                                           'Stock_Code','Total_Value','Total_Value_Prev']]

In [35]:
us_stock_current_df.to_csv('Dim_stock_us.csv',index=False,encoding='gbk')

In [33]:
us_stock_current_df.dropna(subset=['Stock_Name', 'Stock_Market', 
                                   'Stock_Code', 'Total_Value'], inplace=True)

In [34]:
us_stock_current_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14011 entries, 0 to 14421
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Stock_ID             14011 non-null  int64
 1   Stock_Name           14011 non-null  object
 2   Stock_Industry       3339 non-null   object
 3   Stock_Industry_Prev  14011 non-null  object
 4   Stock_Market         14011 non-null  object
 5   Stock_Code           14011 non-null  object
 6   Total_Value          14011 non-null  object
 7   Total_Value_Prev     14011 non-null  int64
dtypes: int64(2), object(6)
memory usage: 985.1+ KB